.aside {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

nav {
  position: sticky;
  top: 20px;
}

.left__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left__link {
  position: relative;
  color: antiquewhite;
  text-decoration: none;
  line-height: 45px;
}

.left__link:hover {
  color: coral;
}

@media (min-width: 600px) {
  .aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.left__link:after {
  display: block;
  content: "";
  background-color: coral;
  height: 1px;
  width: 0%;
  left: 50%;
  bottom: -5px;
  position: absolute;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.left__link:hover:after,
.left__link:focus:after {
  width: 100%;
}
