.main {
  display: grid;
  row-gap: 20px;
  align-content: start;
  padding: 20px;
  contain: layout inline-size;
}

@media (min-width: 600px) {
  .main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.projects {
  width: 100%;
}

.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 16px;
}

.projects__title {
  font-family: "Play", sans-serif;

  margin: 20px 0;
}

.project__content {
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
}

.project__viewport:hover .project__links {
  display: flex;
}

.project__title {
  font-family: "Play", sans-serif;
  margin-top: 0;
}

.project__viewport {
  position: relative;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

.project__image {
  display: block;
  width: 100%;
}

.project__info {
  text-align: start;
  padding: 15px 0 0;
  margin: 0;
}

.project__info_bold {
  font-weight: bold;
  color: rgb(32, 160, 38);
}

.project__links {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

@media (min-width: 600px) {
  .main {
    display: flex;
  }
}

.project__link {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 5;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 25px;
}

.project__link_code {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.project__link_link {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .project__viewport {
    overflow: visible;
  }

  .project__title {
    margin-bottom: 35px;
  }

  .project__image {
    border-radius: 0 0 5px 5px;
  }

  .project__links {
    top: -28px;
    display: flex;
    height: auto;
    height: 28px;
  }

  .project__link {
    font-size: 18px;
  }

  .project__link_code {
    background-color: rgba(0, 0, 0, 1);
  }

  .project__link_link {
    background-color: rgba(255, 255, 255, 1);
  }
}

/*Анимация*/

.project__content {
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
}

.project__content:hover:before,
.project__content:hover:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: steam 20s linear infinite;
  border-radius: 5px;
  z-index: -1;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.project__content:after {
  filter: blur(50px);
}
