.page,
.page__body {
  height: 100%;
}

.page {
  font-family: "Roboto", sans-serif;
  background-image: url("./../images/backgroundImg.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: wheat;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
}

@media (min-width: 600px) {
  .page__body {
    grid-template-columns: 250px 1fr;
  }
}
